.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--additional-blue);
    padding: 6px 20px;
    transition: all ease .2s;
}

.btn:hover {
    background: var(--additional-blue);
}
.btn:hover div {
    color: var(--white);
}

.circle {
    border: 1px solid var(--gray-border);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.center {
    border-right: none;
    border-left: none;
}

.left {
    border-radius: 4px 0 0 4px;
}
.right {
    border-radius: 0 4px 4px 0;
}