.row {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	gap: 10px;
}
.left {
	flex-grow: 0;
	align-self: flex-start;
}
.right {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
	flex: 1;
	width: 100%;
	flex-grow: 1;
	padding-left: 20px;
}
.box {
	display: flex;
	align-items: flex-start;
	padding: 16px;
	height: 93px;
	border-radius: 20px;
	transition: all 0.2s;
	background: var(--gray);
	border: 1px solid #344455;
}

.box:first-child {
	margin-bottom: 50px !important;
}

.box_focused {
	background-color: #151a24;
}

.line {
	color: #fff;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: right;
}

.subLine {
	margin-left: 5px;
	font-weight: 700;
	color: var(--placeholder);
}

.input {
	display: inline-block;
	border: none;
	width: 25px;
	outline: none;
	background: var(--primary-light);
	color: var(--white);
	font-size: 24px;
	line-height: 30px;
	font-style: normal;
	font-weight: 500;
	text-align: left;
	max-width: 160px;
	transition: all ease 0.2s;
}

.input:active,
.input:focus {
	background-color: var(--primary);
}

.input::placeholder {
	color: var(--light);
}

.max {
	cursor: pointer;
	color: var(--placeholder);
	font-weight: 700;
}

.inputWrap {
	position: relative;
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
}
