.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.item {
    position: relative;
}

.body {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    border-radius: 20px;
    border: 1px solid var(--gray);
    background: var(--bg-main);
    padding: 16px;
    transform: scale(0);
    opacity: 0;
    transform-origin: top center;
    transition: all ease .3s;
    z-index: 1000;
    min-width: 200px;
}

.right {
    right: 0;
    left: auto;
}
.overflow {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(54, 64, 82, 0.50);
    backdrop-filter: blur(3px);
    z-index: 11;
    opacity: 0;
    transition: all ease .3s;
    visibility: hidden;
    pointer-events: none;
}
.showOverflow {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.show {
    opacity: 1;
    transform: scale(1);
}

.body > :global( .item-expand) {
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    
    color: var(--light);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    min-width: max-content;
    transition: all ease .3s;
}

.body > :global( .item-expand):hover {
    background: var(--bg-dark)
}

.body :global( .active) {
    background: var(--bg-dark); 
    color: var(--white);
}