.qr {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 230px;
	margin: 45px auto 0;
	background: var(--primary-light);
	padding: 40px;
	border: 1px solid var(--primary-border);
	border-radius: 24px;
}

.bg {
	position: absolute;
	top: -20px;
	left: -20px;
}

.par {
	color: var(--gray);
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-align: center;
}

.titleAddress {
	color: var(--light-blue);
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 0;
}

.qr_block svg {
	display: block;
}

.text {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #717171;
	margin-top: 40px;
}

.action {
	display: flex;
	align-items: center;
	color: var(--light-blue);
	cursor: pointer;
	transition: all 0.2s;
}

.action:hover {
	opacity: 0.5;
}

.button {
	width: auto;
	padding: 0 30px;
	margin: 15px auto 0;
}

.buttonCopy {
	background: transparent;
	border: none;
	color: white;
	display: flex;
	align-items: center;
	gap: 10px;
}

.wrapBtn {
	justify-content: center;
	margin-top: 30px;
}

.wrapBtn button {
	cursor: pointer;
}

.bodyShared {
	position: absolute;
	bottom: calc(100% + 12px);
	background: var(--white);
	border: 1px solid var(--gray-light);
	z-index: 100;
	width: max-content;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	visibility: hidden;
	opacity: 0;
	transition: all ease 0.2s;
}

.showShareBody {
	opacity: 1;
	visibility: visible;
}

.bodyShared button {
	width: 30px;
	height: 30px;
	border-radius: 50px;
	overflow: hidden;
}

.bodyShared button svg {
	width: 30px;
	height: 30px;
}

.wrapBtn {
	border-radius: 50px;
	width: max-content;
	margin: 40px auto 0;
}
