.menu {
	position: sticky;
	bottom: 0;
	margin-bottom: -40px;
	margin-left: -30px;
	margin-right: -30px;
	background: var(--bg-main);
	padding: 18px;
	z-index: 10;
	display: flex;
	justify-content: center;
	gap: 60px;
	border-top: 1px solid #e5e5e5;
	box-shadow: 0px -4px 19.9px 0px rgba(0, 0, 0, 0.08);
}

.item {
	cursor: pointer;
	position: relative;
}

.active::after {
	content: '';
	width: 13px;
	height: 4px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -4px;
	background: var(--accent);
}
