.title {
	display: flex;
	align-items: center;
	gap: 10px;
}

.title_logo {
	width: 25px;
	height: 25px;
}

.title_logo img {
	display: block;
	max-width: 100%;
}

.link {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--light-blue);
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	transition: all 0.2s;
	cursor: pointer;
}

.link:hover {
	opacity: 0.7;
}

.title_info {
	color: var(--light-blue);
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	gap: 10px;
}

.notification {
	cursor: pointer;
	transition: all 0.2s;
}

.notification:hover {
	opacity: 0.6;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.btnsAction {
	display: flex;
	gap: 20px;
}

.info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chart {
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	margin-left: -30px;
	margin-right: -30px;
}

.wrapBlock {
	margin-top: 16px;
}
