.list {
	border-radius: 20px;
	margin-bottom: 20px;
}

.item {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.itemInfo {
	display: flex;
	align-items: center;
	gap: 8px;
	width: max-content;
	position: relative;
	padding: 20px 0;
}

.itemInfo::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 32px;
	height: 1px;
	background: rgba(249, 249, 249, 0.16);
	transition: all ease 0.3s;
}
.item:last-child .itemInfo::after {
	display: none;
}

.item:hover .itemInfo::after {
	width: 100%;
}
