.logoCoin {
	width: 43px;
	height: 43px;
	object-fit: contain;
}

.logoCoinWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.info {
	margin-bottom: 130px;
}

.bgCoins {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.logo {
	max-width: 220px;
	width: 100%;
}
