.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 100%;
	border-radius: 40px;
	border: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: var(--black);
}

.default {
	background: var(--white);
}

.disabled {
	background: var(--accent);
	opacity: 0.4;
	pointer-events: none;
}

.inline {
	font-weight: 400;
	color: var(--light);
	width: max-content;
	margin: 0 auto;
}

.outlined {
	background: transparent;
	border: 1px solid var(--gray);
	color: var(--gray);
	background: var(--gray);
	color: white;
}

.blue {
	color: var(--white);
	background: var(--accent);
}

.sm {
	border-radius: 4px;
	height: 37px;
	padding: 0 24px;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: max-content;
}
