.block {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--gray);
  background: var(--bg-main);
  padding: 8px;
  margin-top: 24px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 8px;
  border: 4px solid var(--bg-main);
  background: var(--bg-dark);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin: auto;
  z-index: 1;
  cursor: pointer;
  color: var(--light-blue);
  transition: all .2s;
}

.action svg {
  transition: all ease .3s;
}

.action:hover svg {
  transform: rotate(180deg);
}