.block {
	background: var(--bg-main);
	padding: 8px;
	margin-top: 24px;
	margin-left: -30px;
	margin-right: -30px;
	position: relative;
	padding: 0 30px;
}

.action {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 17px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	margin: auto;
	z-index: 1;
	cursor: pointer;
	color: var(--light-blue);
	transition: all 0.2s;
}

.action svg {
	transition: all ease 0.3s;
}

.action:hover svg {
	transform: rotate(180deg);
}

.svgPol {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	z-index: 1;
	width: 100%;
}

.boxBg {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 150px;
	background: #f9fafb;
	z-index: 0;
}
