.item {
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	transition: all ease 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.showItem {
	visibility: visible;
	max-height: 90px;
	opacity: 1;
}

.par {
	color: var(--light-blue);
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.item svg {
	width: 70px;
	height: 44px;
	display: flex;
	margin-bottom: 12px;
}

.circleAnim {
	animation: Rotate ease 4.3s infinite;
}

@keyframes Rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
