.btnsCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 30px;
}

.caretIcon {
    display: flex;
    transform: rotate(-90deg);
}

.listTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 24px;
}

.navItem {
    color: var(--light);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    transition: all ease .3s;
    cursor: pointer;
}

.navItem::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%)  scale(0);
    width: 16px;
    height: 2px;
    background: var(--accent);
    bottom: -6px;
    transform-origin: top center;
}

.active {
    font-weight: 600;
    color: var(--white);
}

.active::after {
    transform: translateX(-50%) scale(1);
}

.list {
    border: 1px solid var(--gray-border);
    border-right: 0;
    border-left: 0;
    padding: 0 0;
    margin-top: 22px;
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
}
.list > div {
    padding: 15px 30px;
}
.list > div:not(:last-child) {
   
    border-bottom: 1px solid var(--gray-border);
}