.wrap {
	border-radius: 8px;
	background: transparent;
	display: flex;
	padding: 3px;
	width: max-content;
}

.item {
	color: var(--light);
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 2px 16px;
	cursor: pointer;
	border-radius: 8px;
}

.active {
	border-radius: 6px;
	background: var(--white);
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
}
