.wrap {
	border-radius: 6px;
	background: #131b24;
	display: flex;
	padding: 3px;
	width: max-content;
	color: var(--white);
}

.item {
	color: var(--white);
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 2px 16px;
	cursor: pointer;
	border-radius: 6px;
	min-width: 60px;
	width: 50%;
}

.active {
	background: var(--gray);
}
