.title {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
}

.center {
    text-align: center;
}

.m {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}