.title {
	color: var(--black-text);
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 30px;
	text-align: left;
}

.center {
	text-align: center;
}

.m {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.xl {
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.xxl {
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.light {
	color: var(--light);
}

.white {
	color: var(--white);
}
