.App {
  text-align: center;
  width: var(--app-width);
  height: var(--app-height);
  display: flex;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactModal__Overlay {
  background-color: rgba(54, 64, 82, 0.50) !important;
  backdrop-filter: blur(3px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: var(--app-width);
  height: var(--app-height);
}

.ReactModal__Content {
  padding: 40px 30px !important;
  border-radius: 20px !important;
  border: 1px solid #2C303E !important;
  background: var(--Dark-Bg, #090D15) !important;
  height: max-content;
  inset: 70px 30px !important;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
