@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --bg-main: #090D15;
  --white: #ffffff; 
  --light: #98A1C0;
  --dark-border: #1D2C52;
  --accent: #4D82FB;
  --gray-border: #2F3343;

  --app-width: 400px;
  --app-height: 612px;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

html {
  background-color: var(--bg-main);
  color: var(--white);
}

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen {
  flex-grow: 1;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  height: max-content;
  min-height: 100%;
  position: relative;
}

.body {
  flex: 1;
  margin-bottom: 25px;
}

.body-bottom {
  flex-shrink: 1;
  flex-grow: 0;
}
.top-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(./assets/images/ellipseTop.png) top center / cover no-repeat;
  background-size: 100%;
  z-index: -1;
}
.bottom-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(./assets/images/ellipseBottom.png) bottom center / cover no-repeat;
  background-size: 100%;
  z-index: -1;
}
.bottom-bg-light {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(./assets/images/ellipseBottomLight.png) bottom center / cover no-repeat;
  background-size: 100%;
  z-index: -1;
}
.center-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: url(./assets/images/ellipseCenter.png) center center / cover no-repeat;
  background-size: 100%;
  z-index: -1;
}

.grid-bg {
  background: url('./assets/images/grid.png') center center / cover repeat;
  background-size: 100%;
}

.header-back {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.header-back button {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btns button {
  border-radius: 24px;
}