.card {
	border-radius: 4px;
	border: 1px solid var(--dark-border);
	padding: 16px;
	margin-bottom: 50px;
}

.dropdown_item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	width: max-content;
	position: relative;
	cursor: pointer;
	margin: 24px 0 48px;
}
